# Bỏ thư mục build và cache
dist
node_modules
.cache

# Bỏ các file cấu hình local, môi trường
.env
.env.development

# IDE/editor
.vscode
.idea
*.swp

# Git
.git
.gitignore

# Hệ điều hành
.DS_Store
Thumbs.db

# Log, test, misc
*.log
coverage
*.test.ts